.bienvenue {
    color : #1C00E5;
    text-shadow: 3px 3px 0px #51fdb3;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align:center;

}
.username {
  background-color:white;
  // color: #1C00E5;
  background-color: #FFFFFF;
  text-transform: uppercase;
  border: 3px solid #1C00E5;
  height: 40px;
  width:250px;
  text-align: center;
  box-shadow: 8px 8px 0px #51FDB3;
  transition: 0.3s;
}

.text-title {
    color : #1C00E5;
    text-shadow: 3px 3px 0px #51fdb3;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align:center;
  }
