// Specific CSS for your home-page
body {
background-color: #F0F1F9;
}

body h1 {
    color : #1C00E5;
    text-shadow:2px 2px 0px #51fdb3;
    font-size: 45px;
    font-weight: bold;
}

body p {
    font-size: 20px;
    color: #1C00E5;
    opacity: 1;
}