<div class="card-container">
  <h1>QUE DES VANS N°10 DANS MA TEAM</h1>
  <div id="van-showcase" class="cards">
    <div id="card-category-1" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pm-interview/image/upload/v1597153091/e-bulli-3_u1ivsv.jpg)">
      <h3 id="van-card-1" class="van-title">Volkswagen</h3>
    </div>

    <div id="card-category-2" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pm-interview/image/upload/v1597153433/5eb02b10578532705444dab8_svfz0n.jpg)">
      <h3 id="van-card-2" class="van-title">Camper</h3>
    </div>

    <div id="card-category-3" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pm-interview/image/upload/v1597153322/sportsmobile-classic-4x4_n4ywe6.jpg)">
      <h3 id="van-card-3" class="van-title">4x4</h3>
    </div>
  </div>
  <div class="container">
    <div class="title-card">
        <h3 id="" class="van-title"><%= link_to "Voir nos Vans", vans_path %></h3>
    </div>
  </div>
</div>
