<div class="container">
    <h1>Voici la nouvelle manière de louer un van</h1>
    <div id="cta-container" class="container">
        <div id="cta-left">
            <%= image_tag "https://res.cloudinary.com/pm-interview/image/upload/v1597150595/map_fr_wide_2x-5c1c753a0b299fef3058933e8307b2ab_ro2l58.png", :height => 340, :width => 500, :crop => "mfit", :class => "cta-img" %>
        </div>
        <div id="cta-right">
            <div>
                <ul style="list-style:none">
                    <li>
                    <h3>Loue d'un jour à plusieurs semaines</h3>
                    <p>Un prix adapté à chaque voyage</p>
                    </li>
                    <li>
                    <h3>Gère tout depuis l’application</h3>
                    <p>Réservation, ouverture et fermeture du véhicule</p>
                    </li>
                    <li>
                    <h3>Des vans en bas de chez toi</h3>
                    <p>Des dizaines de milliers de vans en Europe : combi oldschool, utilitaires...</p>
                    </li>
                </ul>
            </div>
            <div>
            <%= link_to "VOIR COMMENT CA MARCHE", "#", class: "form-button" %>
            </div>
        </div>
    </div>
</div>