<div class="banner">
  <div class="container">
    <h1>PARS A l'AVENTURE</h1>
    <p>Loue facilement un van avec couchage</p>
      <div>
      <a class="btn btn-flat" href="#">TODO : Barre de search</a>
      </div>
      <div>
      <%= image_tag "https://res.cloudinary.com/pm-interview/image/upload/v1597149437/van_ktxynu.png", :width => 494, :crop => "scale", class: "hero-img" %>
      </div>
  </div>
</div>