<div class="banner">
  <div class="container">
    <h1>Partez à l’aventure dans un van équipé</h1>
    <p>Ouvrez avec l'appli, partez en un instant</p>
    <div>
    <a class="btn btn-flat" href="#">TODO : Barre de search</a>
    </div>
    <div class="banner-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ibb.co/HY0cy0M);">
    </div> 
  </div>
</div>