<div class="banner">
  <div class="container">
    <h1>PARS A l'AVENTURE</h1>
    <p>Loue facilement un van avec couchage</p>
      <div class="container">
        <div class="title-card">
            <h3 id="" class="van-title"><%= link_to "Voir nos Vans", vans_path %></h3>
        </div>
      </div>
      <div class="slide-right">
        <%= image_tag "https://res.cloudinary.com/pm-interview/image/upload/v1597149437/van_ktxynu.png", :width => 494, :crop => "scale", class: "hero-img" %>
      </div>
  </div>
</div>