<h1>My van(s)</h1>
<%= @vans.all%>

<h1>My own bookings</h1>
<%= @bookings.all %>

<h1>All my van bookings'</h1>
<!-- rajouter ici le fait de pouvoir voir tous les bookings liés aux différents vans. -->

<%= link_to 'Back to home page', root_path %>
