<h1>Mes vans</h1>
<%= @vans.all%>

<h1>Mes réservations/h1>
<%= @bookings.all %>

<h1>Toutes mes réservations de vans</h1>
<% @vans.each do |van| %>
<%= @vans.bookings %>
<!-- rajouter ici le fait de pouvoir voir tous les bookings liés aux différents vans. -->

<%= link_to 'Retour', root_path %>
