.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding:25px;
}

.index-container {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.filter-container {

}

.card-container-home {
  background-image: url('https://res.cloudinary.com/pm-interview/image/upload/v1597143374/card_background.svg');
  display:flex;
  flex-direction: column;
  text-align:center;
  margin: 0;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: bold;
  padding: 20px 20px 10px 20px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 323px;
  max-height: 323px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip, .card-trip-show {
   .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
}

.cards-index {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 20px;
  text-align: left;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 2fr 2fr;
  }
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 2fr 2fr;
  }
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 2fr 2fr;
  }
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

