.container {
    text-align: center;
}

.banner {
    background-size: cover;
    background-position: center;
    padding: 130px;
    // height: 100vh;
}

.banner-img {
    background-size: cover;
    background-position: center;
    margin-top:50px;
    padding: 150px;
}  
  